language: node_js
dist: trusty
node_js:
  - 8
cache:
  yarn: true
  directories:
    - node_modules
script:
  - yarn
  - yarn test --coverage
  - yarn lint:eslint
# eventually we'll need deploy  
#deploy:
#  skip_cleanup: true
#  provider: script
#  script: "npx spark npm-setup && npx semantic-release"