class __NAME__Controller {
  applicationInitialized(app) {
    this.app = app;
  }

  // Named events
  myButtonClick(event) {
    console.log('Button was clicked with event', event);
  }
}

export default __NAME__Controller;