class __NAME__Controller {
  onDatasourceInitialized(datasource) {
    this.datasource = datasource;
  }
  
  // Named events
  myButtonClick(event) {
    console.log('Button was clicked with event', event);
  }
}

export default __NAME__Controller;